# roles/was/templates/ibmihs.service.j2 
# @version 1.01_2023-FEB-01
# @author Kevin Jeffery
[Unit]
Description=IBM HTTP Server

[Service]
Type=simple
ExecStart={{ http_home }}/bin/apachectl -k start -f {{ http_home }}/conf/httpd.conf
ExecStop={{ http_home }}/bin/apachectl -k stop
User=root
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=default.target
