configType=local_distributed
enableAdminServerSupport=true
enableUserAndPass=true
enableWinService=false
ihsAdminCreateUserAndGroup=false
ihsAdminPassword={{ http_admin_pw }}
ihsAdminPort={{ http_admin_port }}
ihsAdminUnixUserGroup={{ http_admin_group }}
ihsAdminUnixUserID={{ http_admin_id }}
mapWebServerToApplications=true
profileName={{ was_app_profile }}
wasExistingLocation={{ was_home }}
wasMachineHostname=
webServerConfigFile1={{ http_home }}/conf/httpd.conf
webServerDefinition={{ http_server_name }}
webServerHostName={{ host_name }}
webServerOS=Linux
webServerPortNumber=443
webServerSelected=ihs