# roles/was/templates/map_shared_libraries.j2
# @version v1.00_2023-JAN-22
# @author Kevin Jeffery
# @dependency ansible_profile.py

import json

ansibleResult = {'ansible_changed': False, 'warnings': []}
application_name = '{{ was_application_name }}'
module_name = '{{ was_module_name }}'
module_uri = '{{ was_module_uri }}'
changed = False
library_list = []
{% for item in was_shared_library_map %}
library_list.append('{{ item.name }}')
{% endfor %}
changed, warnings = mapSharedLibraries(application_name, module_name, module_uri, library_list)
if changed:
  ansibleResult['ansible_changed'] = True
  AdminConfig.save()
{% for item in was_cluster_members %}
  nodeSync = AdminControl.completeObjectName('type=NodeSync,node={{ item.node }},*')
  warnings.append("SyncNode {{ item.node }}")
  syncResult = AdminControl.invoke(nodeSync, 'sync')
  warnings.append("Sync Result {{ item.node }}:{0}".format(syncResult))
{% endfor %}
ansibleResult['warnings'] = warnings
print (json.dumps(ansibleResult))
